{{>header2}}

<div class="thanks-container">
    <div class="thanks-header">
        <h1>Thank you for shopping</h1>
    <form action="/" method="get" class="pt-4">
        <input type="submit" class="btn btn-success btn-lg" value="Go to home page">
    </form>
    </div>
</div>